		</div>
		</div>
		<div class="footer_before"></div>
	</div>
	<div class="footer">
		{*<small class="cms_version">BonoCMS v. 3.1.4<br />У вас установленная последняя версия</small>*}
	</div>
</body>
</html>{if isset($smarty.get.d)}{debug}{/if}