
{if isset($smarty.session.user.admin) && $smarty.session.user.admin == 1}
<div style="background:#fff;color:blue;border-bottom:2px #bbb solid;padding:10px 0;width:100%;z-index:100500;font-size:11px">
	<div style="width1:80%;margin:0 auto;height:1%;overflow:hidden">
		<div style="float:left;margin-left:20px"><a href="./:edit" target="_blank">редактировать страницу</a></div>
		<div style="float:left;margin-left:20px"><a href="./:seo_on">вкл/выкл СЕО-панель</a></div>
		<div style="float:left;margin-left:20px"><a href="#">наверх</a></div>
		<div style="float:right;margin-right:20px">{$smarty.session.user.login} / <a href="./:logout/">выход</a></div>
	</div>
</div>

{/if}

{include file="zobject/seo.tpl"}