{include file='zobject/header.tpl'}

	{include file='zobject/blocks/list_controll.tpl' inline='true'}

<div class="" style="padding:20px;border:1px solid #ccc;margin-top:-1px">
	<form method="POST">
		<table style="width:600px">
			<tr>
				<th></th>
				<th></th>
			</tr>
			{foreach item=item from=$nodes name=ii}
			
			<tr>
				<td{if !$smarty.foreach.ii.first} style="padding-left:2em;border-top:1px solid #ccc"{else} style="padding-bottom:2em"{/if}>
					<a href="{$item.path}:edit_node">{$item.object_title}</a>
				</td>
				<td style="border-top:1px solid #ccc">
					<input type="hidden" name="node[{$item.id}]" value="{$item.id}" style="width:30px" />
					<input type="" name="sort[{$item.id}]" value="{$item.sort}" style="width:30px" />
				</td>
			</tr>
			{/foreach}
			
			<tr>
				<th><br /><br /><input type="submit" value="Сохранить" /></th>
				<th></th>
			</tr>
		</table>
		
		
	</form>
</div>
{include file='zobject/footer.tpl'}