﻿<fieldset class="group">
	<legend class="group-title">{$object.labels.delete}</legend>
	<a href="{$request->url|action:'delete'|view:''}" onclick="return confirm('Удалить?')" class="delete-object">Удалить</a>
</fieldset>