{strip}
    <svg xmlns="http://www.w3.org/2000/svg" class="visually-hidden">
        <defs>
            <path id="def-dots-a" d="M286 89a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            <path id="def-dots-b" d="M294 89a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            <path id="def-dots-c" d="M302 89a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            <path id="def-download-a" d="M0 0h44v44H0z"/>
            <path id="def-password-a" d="M0 0h19.984v24.014H0z"/>
            <path id="def-phone-a" d="M0 0h19.055v20.465H0z"/>
        </defs>
        <symbol id="icon-action-arrow-right" viewBox="0 0 18.8 15.6">
            <path d="M0 5.8v3.9h11.7l-5.9 5.9h5.1l7.8-7.8L10.9 0H5.8l5.8 5.8H0z"/>
        </symbol>
        <symbol id="icon-arrow-slider-left" viewBox="0 0 9 16">
            <path class="st0" d="M0 8l8-8 1 1-7.1 7L9 15l-1 1-8-8z"/>
        </symbol>
        <symbol id="icon-arrow-slider-right" viewBox="0 0 9 16">
            <path class="st0" d="M9 8L1 0 0 1l7.1 7L0 15l1 1 8-8z"/>
        </symbol>
        <symbol id="icon-arrow-triangle-down" viewBox="0 0 17 8">
            <path d="M8.5 8L0 0h17z"/>
        </symbol>
        <symbol id="icon-arrow-triangle-up" viewBox="0 0 17 8">
            <path d="M8.5 0L0 8h17z"/>
        </symbol>
        <symbol id="icon-cart" viewBox="0 0 19 17">
            <path d="M18.8 5.7c-.1-.2-.4-.3-.6-.3h-8V.7c.1-.4-.3-.7-.7-.7-.4 0-.8.3-.8.7v4.6h-8c-.2 0-.5.1-.6.3-.1.3-.1.5-.1.7l2.8 10.1c.1.4.4.6.8.6H16c.4 0 .7-.2.7-.6L19 6.3c0-.2 0-.5-.2-.6zm-3.4 9.8H4.1L1.8 6.9h15.5l-1.9 8.6z"/>
        </symbol>
        <symbol id="icon-category-list" viewBox="0 0 22 14">
            <path d="M0 0h6v6H0zM0 8h6v6H0zM8 0h14v2H8zM8 4h14v2H8zM8 8h14v2H8zM8 12h14v2H8z"/>
        </symbol>
        <symbol id="icon-category-tile" viewBox="0 0 22 14">
            <path d="M0 0h10v6H0zM0 8h10v6H0zM12 8h10v6H12zM12 0h10v6H12z"/>
        </symbol>
        <symbol id="icon-close" viewBox="0 0 20 20">
            <path d="M20 1.4L18.6 0 10 8.6 1.4 0 0 1.4 8.6 10 0 18.6 1.4 20l8.6-8.6 8.6 8.6 1.4-1.4-8.6-8.6z"/>
        </symbol>
        <symbol id="icon-comment" viewBox="0 0 80 66">
            <path d="M76 0H4C1.8 0 0 1.8 0 4v42c0 2.2 1.8 4 4 4h20v15c0 .8.9 1.3 1.6.8L47.9 50H76c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4zM24 30c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5-2.2 5-5 5zm16 0c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5-2.2 5-5 5zm16 0c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5-2.2 5-5 5z"/>
        </symbol>
        <symbol id="icon-copy-link" viewBox="0 0 12 14">
            <path d="M8.8 0H1.3C.6 0 0 .6 0 1.3v8.9h1.3V1.3h7.6V0h-.1zm1.9 2.5H3.8c-.7 0-1.3.6-1.3 1.3v8.9c0 .7.6 1.3 1.3 1.3h6.9c.7 0 1.3-.6 1.3-1.3V3.8c0-.7-.6-1.3-1.3-1.3zm0 10.2H3.8V3.8h6.9v8.9z"/>
        </symbol>
        <symbol id="icon-dots" viewBox="0 0 18 2">
            <g opacity=".3" transform="translate(-285 -89)">
                <use xlink:href="#def-dots-a"/>
                <use xlink:href="#def-dots-a"/>
            </g>
            <g opacity=".3" transform="translate(-285 -89)">
                <use xlink:href="#def-dots-b"/>
                <use xlink:href="#def-dots-b"/>
            </g>
            <g opacity=".3" transform="translate(-285 -89)">
                <use xlink:href="#def-dots-c"/>
                <use xlink:href="#def-dots-c"/>
            </g>
        </symbol>
        <symbol id="icon-download" viewBox="0 0 44 44">
            <clipPath id="def-download-b">
                <use xlink:href="#def-download-a" overflow="visible"/>
            </clipPath>
            <path clip-path="url(#def-download-b)"
                  d="M42 29v12c0 .6-.4 1-1 1H3c-.6 0-1-.4-1-1V29H0v12c0 1.7 1.3 3 3 3h38c1.7 0 3-1.3 3-3V29h-2z"/>
            <path clip-path="url(#def-download-b)"
                  d="M32.7 23.7l-1.4-1.4-8.3 8.299V0h-2v30.599L12.7 22.3l-1.4 1.4L22 34.4z"/>
        </symbol>
        <symbol id="icon-facebook" viewBox="0 0 8 14">
            <path d="M5.1 14V7.8h2.3L8 5.2H5.1v-1c0-1 .6-1.6 1.7-1.6H8V0H5.7C3.6 0 2.3 1.5 2.3 3.6v1.6H0v2.6h2.3V14h2.8z"/>
        </symbol>
        <symbol id="icon-form-email" viewBox="0 0 17 12">
            <path d="M8.5 8c-.283 0-.531-.094-1.062-.336L0 4v7c0 .55.479 1 1.062 1h14.875c.584 0 1.063-.45 1.063-1V4L9.562 7.664C9.031 7.906 8.783 8 8.5 8zm7.438-8H1.062C.479 0 0 .45 0 1v.758l8.5 4.205L17 1.758V1c0-.55-.479-1-1.062-1z"/>
        </symbol>
        <symbol id="icon-form-phone" viewBox="0 0 48 48">
            <path d="M26 18h-4v4h4v-4zm8 0h-4v4h4v-4zm6 13c-2.49 0-4.89-.4-7.14-1.14-.69-.22-1.48-.06-2.03.49l-4.4 4.41a30.171 30.171 0 0 1-13.18-13.17l4.4-4.41c.55-.55.71-1.34.49-2.03C17.4 12.9 17 10.49 17 8c0-1.11-.89-2-2-2H8c-1.11 0-2 .89-2 2 0 18.78 15.22 34 34 34 1.11 0 2-.89 2-2v-7c0-1.11-.89-2-2-2zm-2-13v4h4v-4h-4z"/>
        </symbol>
        <symbol id="icon-google-plus" viewBox="0 0 19 12">
            <path d="M6 4.8v2.4h3.2C8.8 8.7 8 9.6 6 9.6S2.5 8 2.5 6.1 4.1 2.5 6 2.5c1.1 0 1.7.3 2.3.9.5-.5.4-.6 1.7-1.8C9 .6 7.6 0 6 0 2.7 0 0 2.7 0 6s2.7 6 6 6c5 0 6.2-4.3 5.8-7.2H6zm10.9.1v-2h-1.5V5h-2.1v1.5h2.1v2.2h1.5V6.5H19V4.9h-2.1z"/>
        </symbol>
        <symbol id="icon-huge-plus" viewBox="0 0 70 70">
            <path d="M70 31.5H38.5V0h-7v31.5H0v7h31.5V70h7V38.5H70z"/>
        </symbol>
        <symbol id="icon-insta" viewBox="0 0 15 15">
            <circle cx="7.5" cy="7.5" r="1.9"/>
            <path d="M13.8 1.2C13 .4 11.9 0 10.6 0H4.4C1.8 0 0 1.8 0 4.4v6.2c0 1.3.4 2.4 1.3 3.2.8.8 1.9 1.2 3.1 1.2h6.2c1.3 0 2.4-.4 3.2-1.2.8-.8 1.2-1.9 1.2-3.2V4.4c0-1.3-.4-2.4-1.2-3.2zM7.5 11.3c-2.1 0-3.8-1.7-3.8-3.8 0-2.1 1.7-3.8 3.8-3.8s3.8 1.7 3.8 3.8c0 2.1-1.7 3.8-3.8 3.8zm4.3-6.9c-.7 0-1.2-.5-1.2-1.2S11.1 2 11.8 2s1.2.6 1.2 1.2-.5 1.2-1.2 1.2z"/>
        </symbol>
        <symbol id="icon-location-m" viewBox="0 0 15.999 19">
            <path d="M13.656 2.305c-3.124-3.073-8.189-3.073-11.313 0a7.78 7.78 0 0 0 0 11.13L7.999 19l5.657-5.565a7.78 7.78 0 0 0 0-11.13zM7.999 10.5c-.668 0-1.295-.26-1.768-.732a2.503 2.503 0 0 1 0-3.536c.472-.472 1.1-.732 1.768-.732s1.296.26 1.768.732a2.503 2.503 0 0 1 0 3.536c-.472.472-1.1.732-1.768.732z"/>
        </symbol>
        <symbol id="icon-location" viewBox="0 0 14 17">
            <path d="M7 4.4c-1.5 0-2.7 1.2-2.7 2.7S5.5 9.7 7 9.7 9.7 8.5 9.7 7 8.5 4.4 7 4.4zm0 3.7c-.6 0-1-.5-1-1s.4-1 1-1 1 .5 1 1-.5 1-1 1z"/>
            <path d="M11.9 12c1.3-1.3 2-3 2-5 0-3.9-3.1-7-7-7s-7 3.2-7 7c0 1.9.8 3.7 2 5L7 17l4.9-5zm-1.5-.9L7 14.6l-3.5-3.5-.3-.3c-1-1-1.5-2.4-1.5-3.8 0-3 2.4-5.4 5.3-5.4S12.3 4 12.3 7c0 1.4-.5 2.8-1.5 3.8l-.4.3z"/>
        </symbol>
        <symbol id="icon-m-cart" viewBox="0 0 15 13">
            <path d="M14.8 4.4c-.1-.2-.3-.2-.5-.2H8V.5c.1-.3-.2-.5-.5-.5s-.6.2-.6.5V4H.6c-.2 0-.4.1-.5.2-.1.3-.1.5-.1.6l2.2 7.7c.1.3.3.5.6.5h9.8c.3 0 .6-.2.6-.5L15 4.8c0-.1 0-.4-.2-.4zm-2.6 7.4h-9L1.4 5.3h12.2l-1.4 6.5z"/>
        </symbol>
        <symbol id="icon-m-facebook" viewBox="0 0 7 12">
            <path d="M4.5 12V6.7h2L7 4.5H4.5v-.9c0-.9.5-1.4 1.5-1.4h1V0H5C3.1 0 2 1.3 2 3.1v1.4H0v2.2h2V12h2.5z"/>
        </symbol>
        <symbol id="icon-m-filter" viewBox="0 0 15 10">
            <path d="M4 0h2v2H4zM0 0h3v2H0zM7 0h8v2H7zM4 8h2v2H4zM0 8h3v2H0zM7 8h8v2H7zM11 6H9V4h2zM15 6h-3V4h3zM8 6H0V4h8z"/>
        </symbol>
        <symbol id="icon-m-huge-plus" viewBox="0 0 14 14">
            <path d="M14 5H9V0H5v5H0v4h5v5h4V9h5z"/>
        </symbol>
        <symbol id="icon-m-insta" viewBox="0 0 13 13">
            <ellipse class="st0" cx="6.5" cy="6.5" rx="1.7" ry="1.7"/>
            <path class="st0"
                  d="M12 1.1C11.3.4 10.3 0 9.2 0H3.8C1.5 0 0 1.5 0 3.8v5.4c0 1.1.4 2.1 1.1 2.8.7.7 1.7 1 2.7 1h5.3c1.1 0 2.1-.4 2.8-1 .7-.7 1.1-1.7 1.1-2.8V3.8c0-1.1-.4-2-1-2.7zM6.5 9.8c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3s3.3 1.5 3.3 3.3c0 1.8-1.5 3.3-3.3 3.3zm3.7-6c-.6 0-1-.5-1-1s.5-1 1-1c.6 0 1 .5 1 1s-.4 1-1 1z"/>
        </symbol>
        <symbol id="icon-m-menu" viewBox="0 0 18 12">
            <path d="M0 0h18v2H0zM0 10h18v2H0zM0 5h18v2H0z"/>
        </symbol>
        <symbol id="icon-m-minus" viewBox="0 0 7 7">
            <path d="M0 3h7v1H0z"/>
        </symbol>
        <symbol id="icon-m-phone" viewBox="0 0 12 12">
            <path class="st0"
                  d="M12 .3l-.3-.3H8.3c-.3 0-.5.2-.5.5s.2.5.5.5h1.9L7.4 3.8c-.2.2-.2.6 0 .8.1.1.2.2.4.2.1 0 .3-.1.4-.2L11 1.8v1.9c0 .3.2.5.5.5s.5-.2.5-.5V.5.3z"/>
            <path class="st0"
                  d="M10.1 7.3c-.4-.1-.9-.2-1.3-.4-.6-.2-1.3 0-1.7.4l-.4.4c-1-.6-1.8-1.4-2.4-2.4l.4-.4c.4-.4.6-1.1.4-1.7-.2-.4-.3-.9-.4-1.3C4.6 1.1 3.9.5 3.2.5H1.6h-.1C.6.6-.1 1.4 0 2.2.2 3.9.8 5.6 1.7 7c.8 1.3 2 2.5 3.3 3.3 1.4.9 3.1 1.5 4.8 1.7h.1c.4 0 .8-.2 1.1-.5.3-.3.5-.7.5-1.1V8.9c0-.8-.6-1.5-1.4-1.6zm.3 1.6v1.6c0 .1-.1.3-.2.4-.1.1-.2.1-.4.2-1.5-.2-3-.7-4.3-1.5-1.2-.8-2.2-1.8-3-3-.8-1.4-1.3-2.9-1.4-4.5 0-.3.2-.5.5-.6h1.6c.3 0 .5.2.5.4.1.5.2 1.1.4 1.6 0 .3 0 .5-.1.7l-.7.6c-.2.2-.2.4-.1.6.8 1.4 2 2.6 3.3 3.4.2.1.5.1.7-.1l.6-.7c.2-.1.4-.2.6-.1.5.2 1 .3 1.6.4.2 0 .4.3.4.6 0-.1 0-.1 0 0z"/>
        </symbol>
        <symbol id="icon-m-plus" viewBox="0 0 7 7">
            <path d="M7 3H4V0H3v3H0v1h3v3h1V4h3z"/>
        </symbol>
        <symbol id="icon-m-question" viewBox="0 0 12 12">
            <path d="M6 .6C9 .6 11.4 3 11.4 6S9 11.4 6 11.4.6 9 .6 6 3 .6 6 .6M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6z"/>
            <path d="M5.7 6c1.1-.1 1.7-.5 1.7-1.2 0-.6-.5-1.1-1.2-1.1-.6 0-1.1.3-1.5.7L4.3 4c.5-.6 1.1-1 1.9-1 1.1.1 1.8.8 1.8 1.7 0 1-.8 1.5-1.7 1.7l-.1.9h-.4L5.7 6zm-.1 2h.8v.9h-.8V8z"/>
        </symbol>
        <symbol id="icon-m-search" viewBox="0 0 12 12">
            <path class="st0"
                  d="M12 11.2L8.7 7.9c.6-.8 1-1.9 1-3C9.8 2.2 7.6 0 4.9 0 2.2 0 0 2.2 0 4.9s2.2 4.9 4.9 4.9c1.1 0 2.2-.4 3-1l3.3 3.3.8-.9zM1.1 4.9c0-2.1 1.7-3.8 3.8-3.8s3.8 1.7 3.8 3.8S7 8.6 4.9 8.6 1.1 7 1.1 4.9z"/>
        </symbol>
        <symbol id="icon-m-small-arrow-right" viewBox="0 0 4 7">
            <path d="M.7 0L0 .7l2.6 2.8L0 6.3l.7.7L4 3.5z"/>
        </symbol>
        <symbol id="icon-m-vkontakte" viewBox="0 0.5 17 10">
            <path d="M10.5 8.2c.6-.2 1.4 1.4 2.3 2 .6.5 1.1.4 1.1.4h2.3s1.2-.1.6-1c0-.1-.3-.7-1.7-2-1.4-1.4-1.2-1.1.5-3.5 1-1.4 1.5-2.3 1.3-2.7-.1-.5-.8-.4-.8-.4h-2.6c-.2 0-.5.1-.6.3 0 0-.4 1.1-.9 2.1-1.1 2-1.6 2.1-1.8 2-.4-.3-.3-1.2-.3-1.8 0-1.9.3-2.7-.6-2.9C9.1.6 8.9.6 8.2.6c-.9 0-1.7 0-2.1.2-.3.1-.6.5-.4.5.2 0 .6.1.8.4.2.3.2 1.2.2 1.2s.1 2.3-.4 2.6c-.3.1-.8-.3-1.8-2.1-.5-.9-.9-1.9-.9-1.9s-.1-.2-.2-.3C3.2 1 3 1 3 1H.6s-.4 0-.5.2c-.1.1 0 .4 0 .4S2 6.2 4.2 8.5c2 2.1 4.2 2 4.2 2h1s.3 0 .5-.2c.1-.2.1-.5.1-.5s-.1-1.4.5-1.6z"/>
        </symbol>
        <symbol id="icon-m-youtube" viewBox="0 0 15 10">
            <path class="st0"
                  d="M12.8 0H2.2C1 0 0 .9 0 2v5.9C0 9.1 1 10 2.2 10h10.7C14 10 15 9.1 15 8V2c-.1-1.1-1.1-2-2.2-2zM5.2 7.4V2.6L10.3 5 5.2 7.4z"/>
        </symbol>
        <symbol id="icon-menu" viewBox="0 0 26 16">
            <path d="M0 0h26v2H0zM0 14h26v2H0zM0 7h26v2H0z"/>
        </symbol>
        <symbol id="icon-minus" viewBox="0 0 10 10">
            <path d="M0 4h10v2H0z"/>
        </symbol>
        <symbol id="icon-password" viewBox="0 0 19.984 24.014">
            <clipPath id="def-password-b">
                <use xlink:href="#def-password-a" overflow="visible"/>
            </clipPath>
            <path clip-path="url(#def-password-b)"
                  d="M17.986 24.014H1.998A2 2 0 0 1 0 22.013V12.007a2 2 0 0 1 1.998-2.002h.999V7.004C2.997 3.136 6.129 0 9.992 0s6.995 3.136 6.995 7.004v3.001h.999c1.105 0 1.998.896 1.998 2.002v10.006a2 2 0 0 1-1.998 2.001m-3.997-17.01c0-2.21-1.79-4.002-3.997-4.002a4 4 0 0 0-3.997 4.002v3.001h7.994V7.004z"/>
        </symbol>
        <symbol id="icon-phone" viewBox="0 0 19.055 20.465">
            <clipPath id="def-phone-b">
                <use xlink:href="#def-phone-a" overflow="visible"/>
            </clipPath>
            <path clip-path="url(#def-phone-b)"
                  d="M3.897.025c1.207-.228 1.998 1.133 2.6 2.072.586.912 1.307 1.982 1.016 3.169-.162.666-.764 1.029-1.219 1.422-.449.388-1.133.744-1.299 1.34-.271.967.322 1.982.689 2.56a14.704 14.704 0 0 0 3.129 3.534c.623.51 1.488 1.191 2.355 1.016 1.294-.262 1.637-1.859 3.047-2.072 1.342-.203 2.25.77 3.008 1.422.73.631 1.908 1.439 1.828 2.52-.048.621-.545 1.006-.977 1.381-.439.383-.824.813-1.258 1.096-1.051.686-2.34 1.022-3.82.976-1.452-.045-2.607-.538-3.656-1.097-2.051-1.094-3.672-2.633-5.199-4.348C2.639 13.33 1.252 11.334.485 9.127-.472 6.371.034 3.54 1.583 1.774c.262-.3.676-.613 1.055-.935.378-.323.728-.714 1.259-.814"/>
        </symbol>
        <symbol id="icon-play" viewBox="0 0 13 15">
            <path d="M0 15V0l13 7.5z"/>
        </symbol>
        <symbol id="icon-plus" viewBox="0 0 10 10">
            <path d="M10 4H6V0H4v4H0v2h4v4h2V6h4z"/>
        </symbol>
        <symbol id="icon-podrobnee-arrow-right" viewBox="0 0 6 14">
            <path d="M6 7L0 0v14z"/>
        </symbol>
        <symbol id="icon-question" viewBox="0 0 19 19">
            <path d="M9.5 1C14.2 1 18 4.8 18 9.5S14.2 18 9.5 18 1 14.2 1 9.5 4.8 1 9.5 1m0-1C4.3 0 0 4.3 0 9.5S4.3 19 9.5 19 19 14.7 19 9.5 14.7 0 9.5 0z"/>
            <path d="M9 9.4c1.8-.1 2.7-.8 2.7-1.9 0-.9-.7-1.7-1.9-1.7-1 0-1.7.5-2.4 1.2l-.7-.6c.7-.9 1.7-1.5 3.1-1.5 1.8 0 2.9 1.1 2.9 2.6 0 1.6-1.2 2.4-2.7 2.6l-.1 1.4h-.7L9 9.4zm-.1 3.3h1.2v1.4H8.9v-1.4z"/>
        </symbol>
        <symbol id="icon-return" viewBox="0 0 20.997 13">
            <path d="M6 4L0 2.015 6 0z"/>
            <path d="M4.824 1v2h14.173v8H2v2h18.997V1z"/>
        </symbol>
        <symbol id="icon-scroll-up" viewBox="0 0 22 12">
            <path d="M11 0L0 10.667 1.375 12 11 2.533 20.625 12 22 10.667z"/>
        </symbol>
        <symbol id="icon-search" viewBox="0 0 15 15">
            <path d="M15 14l-4.1-4.1c.8-1 1.3-2.4 1.3-3.8C12.3 2.7 9.5 0 6.1 0 2.8 0 0 2.7 0 6.1c0 3.4 2.7 6.1 6.1 6.1 1.4 0 2.8-.5 3.8-1.3L14 15l1-1zM1.4 6.1c0-2.6 2.1-4.7 4.7-4.7s4.7 2.1 4.7 4.7-2.1 4.7-4.7 4.7-4.7-2.1-4.7-4.7z"/>
        </symbol>
        <symbol id="icon-tall-arrow-left" viewBox="0 0 12 36">
            <path d="M12 0H9.9L0 18l9.9 18H12L2.3 18z"/>
        </symbol>
        <symbol id="icon-tall-arrow-right" viewBox="0 0 12 36">
            <path d="M0 0h2.1L12 18 2.1 36H0l9.7-18z"/>
        </symbol>
        <symbol id="icon-tick" viewBox="0 0 10.907 11.252">
            <path d="M2.311 8.596l1.904 1.862 6.692-6.692V0z"/>
            <path d="M0 4.014v3.761l3.45 3.477 1.848-1.874z"/>
        </symbol>
        <symbol id="icon-triangle-arrow-left" viewBox="0 0 8 17">
            <path d="M0 8.5L8 0v17z"/>
        </symbol>
        <symbol id="icon-triangle-arrow-right" viewBox="0 0 8 17">
            <path d="M8 8.5L0 0v17z"/>
        </symbol>
        <symbol id="icon-twitter" viewBox="0 0 13 11">
            <path d="M8.4.1c1.3-.3 2.3.2 2.8.9.5-.2 1-.3 1.5-.5 0 .7-.4 1.1-.7 1.3.5.2 1-.3 1-.3-.2.7-.8 1.3-1.2 1.5-.2 4.9-2.4 8.2-7.6 8h-.3c-.3 0-3.1-.3-3.7-1.4 1.8.2 3-.3 3.6-.9-.7-.2-2-.3-2.3-2.1.2.1.5.2.9.1C1.3 6.1.3 5.4.3 3.9c.2.2.8.4 1.1.3C.9 4.1-.1 1.8.7.6 2.1 2 3.6 3.2 6.2 3.4 6.3 1.8 7 .6 8.4.1z"/>
        </symbol>
        <symbol id="icon-user-fill" viewBox="0 0 17.004 17.005">
            <circle cx="8.502" cy="4.251" r="4.251"/>
            <path d="M8.502 10.628C2.019 10.628 0 14.88 0 14.88v2.125h17.004V14.88s-2.02-4.252-8.502-4.252z"/>
        </symbol>
        <symbol id="icon-user" viewBox="0 0 18 15">
            <path d="M9 7.1c1.9 0 3.5-1.6 3.5-3.6S11-.1 9-.1 5.6 1.6 5.6 3.6c0 1.9 1.5 3.5 3.4 3.5zm0-5.6c1.1 0 2 .9 2 2.1 0 1.2-.9 2.1-2 2.1s-2-.9-2-2.1c0-1.2.9-2.1 2-2.1zM17.9 14c0-.1-2.1-5.3-8.9-5.3C2.2 8.7.1 14 .1 14c-.1.4.1.8.5.9h.3c.3 0 .6-.2.7-.5.1-.2 1.8-4.3 7.5-4.3s7.4 4.1 7.5 4.3c.1.3.4.5.7.5h.3c.3-.1.5-.5.3-.9z"/>
        </symbol>
        <symbol id="icon-vkontakte" viewBox="0 0 20 11">
            <path d="M12.4 8.4c.7-.2 1.7 1.5 2.7 2.2.8.5 1.3.4 1.3.4h2.7s1.4-.1.7-1.1c-.1-.1-.4-.8-2-2.2-1.7-1.5-1.4-1.3.6-3.8 1.2-1.6 1.7-2.5 1.6-3-.1-.4-1.1-.3-1.1-.3h-3c-.3 0-.5.1-.7.4 0 0-.5 1.2-1.1 2.3-1.3 2.2-1.9 2.3-2.1 2.2-.5-.3-.4-1.3-.4-2 0-2.1.3-3-.6-3.2-.3-.2-.6-.3-1.4-.3-1.1 0-2 0-2.5.2-.3.2-.6.6-.4.6.2 0 .6.1.9.4.3.4.3 1.3.3 1.3S8 5 7.4 5.3c-.4.3-.9-.2-2.1-2.2C4.7 2.1 4.2 1 4.2 1S4.1.8 4 .7C3.8.5 3.5.5 3.5.5H.6S.2.5 0 .7c-.1.2 0 .5 0 .5s2.2 5 4.8 7.6c2.3 2.3 5 2.2 5 2.2H11s.4 0 .5-.2c.2-.2.2-.5.2-.5s0-1.6.7-1.9z"/>
        </symbol>
        <symbol id="icon-youtube" viewBox="0 0 18 13">
            <path d="M15.4 0H2.6C1.2 0 0 1.2 0 2.6v7.7C0 11.8 1.2 13 2.6 13h12.9c1.4 0 2.6-1.2 2.6-2.6V2.6C18 1.2 16.8 0 15.4 0zM6.3 9.6V3.4l6.1 3.1-6.1 3.1z"/>
        </symbol>
        <symbol id="icon-zoom" viewBox="0 0 19 27">
            <path d="M9.5 0C4.3 0 0 4.3 0 9.7c0 4.9 3.7 9.1 8.4 9.6V27h2.1v-7.7c4.8-.5 8.4-4.7 8.4-9.6C19 4.3 14.7 0 9.5 0zm0 2.2c4.1 0 7.4 3.4 7.4 7.5 0 4.2-3.3 7.5-7.4 7.5-4.1 0-7.4-3.4-7.4-7.5 0-4.2 3.3-7.5 7.4-7.5z"/>
        </symbol>

        <symbol id="icon-city-input-clear" viewBox="0 0 15 15">
            <path d="M15 1l-1-1-6.5 6.5L1 0 0 1l6.5 6.5L0 14l1 1 6.5-6.5L14 15l1-1-6.5-6.5z"/>
        </symbol>
    </svg>
{/strip}