
<div style="margin-bottom:40px">
	{*<input type="text" name="{$k}" id="{$k}_input" style="width:100%" class="fm_files" value="{$_val|escape}" fm:el="{$k}" fm:type="{$object.input_cfg[$k].type}" fm:mask="{$object.input_cfg[$k].mask}" />*}
	<input type="hidden" name="{$k}" id="{$k}_input" class="input-textarea fm_files" value="{$_val|escape|default:''}" fm:el="{$k}" fm:type="{$object.input_cfg[$k].type}" fm:mask="{$object.input_cfg[$k].mask}" />

	<ul id="{$k}-ga" class="ga-gallery">Ждем загрузки файлов</ul>
	<br />
	<div id="{$k}-fine-uploader"><noscript><p>Please enable JavaScript to use file uploader.</p><!-- or put a simple form for upload here --></noscript></div>

	<script type="text/javascript">
		{literal}
			$(document).ready(function(){
		{/literal}
				init_qq( {$k}_input );
		{literal}
			});
		{/literal}
	</script>
</div>
