
<select name="{$field}" id="{$field}">
	<option value="0">..выбрать</option>
{foreach item=i key=k from=$data.items}
	<option value="{$k}"{if $data.selected eq $k} selected{/if}>{$i.display}</option>
{/foreach}
</select>
