{*
	<div class='gstore' gs:dispatcher='/gs/add/{$object.input_cfg[$k].type|default:"image"}/thumbs/{$object.input_cfg[$k].dispatcher}/' gs:extensions='{$object.input_cfg[$k].extensions|default:"*.jpg;*.jpeg;*.png"}' gs:description='абв'>
		<input class='gsResult' name='{$k}' type='hidden' value='{if isset($_val)}{$_val}{/if}'/>
		<div style='padding:5px;'>
			<ul class='gsItems'></ul>
			<div style='clear:both'></div>
		</div>
		<div style='padding:0 10px;'>
			<div class='gsUploader'></div>
		</div>
		<div class='gsErrors' style='padding:5px;'></div>
	</div>
*}
	

<div style="margin-bottom:20px;border:1px solid red;padding:20px">
	{*
	<input type="text" name="{$k}" id="{$k}_input" class="input-textarea fm_files" value="{$_val|escape}" fm:el="{$k}" fm:type="{$object.input_cfg[$k].type}" fm:mask="{$object.input_cfg[$k].mask}" />
	<ul id="{$k}-ga" class="ga-gallery">Ждем загрузки файлов		
	</ul>
	<br />
	<div id="{$k}-filelimit-fine-uploader">	
		<noscript>			
			<p>Please enable JavaScript to use file uploader.</p>
			<!-- or put a simple form for upload here -->
		</noscript>         
	</div>
	*}
	
	
	{*1
	<input type="text" name="{$k}" id="{$k}_input" class="input-textarea fm_files" value="{$_val|escape}" fm:el="{$k}" fm:type="{$object.input_cfg[$k].type}" fm:mask="{$object.input_cfg[$k].mask}" />
	<ul id="{$k}-ga" class="ga-gallery">Ждем загрузки файлов		
	</ul>
	<br />*}
	<div id="filelimituploader1">	
		<noscript><p>Please enable JavaScript to use file uploader.</p><!-- or put a simple form for upload here --></noscript>
	</div>
	
	
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	{*2
	<input type="text" name="{$k}" id="{$k}_input" class="input-textarea fm_files" value="{$_val|escape}" fm:el="{$k}" fm:type="{$object.input_cfg[$k].type}" fm:mask="{$object.input_cfg[$k].mask}" />
	<ul id="{$k}-ga" class="ga-gallery">Ждем загрузки файлов		
	</ul>
	<br />*}
	<div id="filelimituploader2">	
		<noscript><p>Please enable JavaScript to use file uploader.</p><!-- or put a simple form for upload here --></noscript>
	</div>
	
	
    <script type="text/javascript">
    {literal}
		$(document).ready(function() {
			new qq.FileUploader({
				element: $('#filelimituploader1')[0],
				action: '/fm/?act=add&type=image&mask=0&key=adsklhaljsdh',
				debug: true,

				onComplete: function(id, fileName, responseJSON) {
					if (responseJSON.success) {
						__('#filelimituploader1', responseJSON.success);
					}
					else{
						alert(responseJSON.error);
					}
				}
			});
			
			
			new qq.FileUploader({
				element: $('#filelimituploader2')[0],
				action: '/fm/?act=add&type=image&mask=0&key=asdasdasdasdasd',
				debug: true,

				onComplete: function(id, fileName, responseJSON) {
					if (responseJSON.success) {
						__('#filelimituploader2', responseJSON.success);
					}
					else{
						alert(responseJSON.error);
					}
				}
			});
			
			
		});
    </script>    
	{/literal}
	
</div>



